<div class="tiny_ai-audio-player">
    <audio id="audio" src="/audio/audio-test-file.mp3"></audio>
    <button class="tiny_ai-play-pause-button" id="playPauseButton">
        <i class="fa fa-play"></i>
    </button>
    <div class="tiny_ai-progress-bar" id="progressBar">
        <div class="tiny_ai-progress-bar-filled" id="progressBarFilled"></div>
        <div class="tiny_ai-progress-bar-thumb" id="progressBarThumb"></div>
    </div>
    <div class="tiny_ai-time" id="timeDisplay">00:00 / 00:08</div>
</div>
