<button class="tiny_ai-button {{#btn-iconname}}has-icon {{/btn-iconname}}{{#disabled}}disabled {{/disabled}}{{#primary}}primary {{/primary}}{{#secondary}}secondary {{/secondary}}{{#tertiary}}tertiary {{/tertiary}}">

    {{#icon-left}}
        <i class="fa-light fa-{{btn-iconname}} tiny_ai-icon-left"></i>
    {{/icon-left}}

    {{#hasText}}
        <span class="tiny_ai-button-text">{{button-text}}</span>
    {{/hasText}}
    
    {{#icon-right}}
        <i class="fa-light fa-{{btn-iconname}} tiny_ai-icon-right"></i>
    {{/icon-right}}
</button>
