<button class="tiny_ai-button {{#btn-iconname}}has-icon {{/btn-iconname}}{{#disabled}}disabled {{/disabled}}{{#primary}}primary {{/primary}}{{#secondary}}secondary {{/secondary}}{{#tertiary}}tertiary {{/tertiary}}">

    {{#icon-left}}
        {{> ai-icon}}
    {{/icon-left}}

    {{#hasText}}
        <span class="tiny_ai-button-text">{{button-text}}</span>
    {{/hasText}}
    
    {{#icon-right}}
        {{> ai-icon}}
    {{/icon-right}}
</button>
