<a href={{link}} class="ai-card-button {{#disabled}}disabled{{/disabled}}">
    <img src="/icons/icon-{{iconname}}.png" width="24" height="24" />
    <span class="ai-card-button--text-wrapper">
        <span class="ai-card-button--purpose">{{purpose}}</span>
        <span class="ai-card-button--description">{{description}}</span>
    </span>
</a>