<a href={{link}} class="tiny_ai-card-button {{#disabled}}disabled{{/disabled}}">
    {{> ai-icon }}
    <span class="tiny_ai-card-button--text-wrapper">
        <span class="tiny_ai-card-button--purpose">{{purpose}}</span>
        <span class="tiny_ai-card-button--description">{{description}}</span>
    </span>
</a>