<span class="tiny_ai-dropdown-label">Beschreibung<span>
<div class="dropdown tiny_ai-dropdown">
  <button class="btn btn-secondary dropdown-toggle tiny_ai-btn tiny_ai-dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
    <i class="tiny_ai-icon fa fa-chevron-down"></i>
  </button>
  <div class="dropdown-menu tiny_ai-dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item tiny_ai-dropdown-item" href="#">Option</a>
    <a class="dropdown-item tiny_ai-dropdown-item" href="#">Option</a>
    <a class="dropdown-item tiny_ai-dropdown-item" href="#">Option</a>
    <a class="dropdown-item tiny_ai-dropdown-item" href="#">Option</a>
  </div>
</div>
