<div class="tiny_ai-footer-wrapper">
    <div class="tiny_ai-footer-left">
        {{#footer_iconbuttons}}
            {{> ai-icon-button}}
        {{/footer_iconbuttons}}
    </div>
    <div class="tiny_ai-footer-right">
        {{#footer_buttons}}
            {{> ai-button}}
        {{/footer_buttons}}
    </div>
</div>