<div class="tiny_ai-modal--subtext">
    <p>Die eingegebenen Daten werden an ein externes KI-Tool gesendet.</p>
</div>
{{#input}}
    {{> ai-input}}
{{/input}}
<div class="tiny_ai-modal--button-wrapper">
    {{#modal_buttons}} 
        {{> ai-card-button}}
    {{/modal_buttons}}
</div>