
<div class="row">
    <div class="col-lg-12 text-center">
        {{> ai-icon}}
        <h5 class="tiny_ai-headline">{{modal_headline}}</h5>
        <div class="row">
            {{#buttons}}
                {{> ai-button}}
            {{/buttons}}
        </div>
    </div>
</div>