<html>
    <head>
        <title>Mustache test cases</title>
    </head>
    <body>

    <h1>Test cases</h1>

    {{ # views }}
        <h2>{{ name }}</h2>
        <ul>
            {{ # testCases  }}
                <li>
                    <a href="?view={{name}}&testcase={{.}}">{{ . }}</a>
                </li>
            {{ /testCases }}
        </ul>
    {{ /views }}
    
    </body>
</html>
