<div class="container" class="p-10">
    <h1>Übersicht der Komponenten</h1>

    <h2>AI-Card-Buttons</h2>
    {{#modal_buttons}} 
        {{> ai-card-button}}
        <br>
    {{/modal_buttons}}


</div>
{{>external/namespace/external-partial}}
{{#str}}asd{{/str}}
{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}} 