<div class="container" class="p-10">
    <h1>Übersicht der Komponenten</h1>

    <h2>AI-Card-Buttons</h2>
    {{#ai_card_button_versions}} 
        {{> ai-card-button}}
        <br>
    {{/ai_card_button_versions}}


</div>
{{>external/namespace/external-partial}}
{{#str}}asd{{/str}}
{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}} 