.tiny_ai-modal {
    background: $neutral-white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;

    &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .tiny_ai-modal-title {
            margin: 0;
            color: $neutral-grey-500;
            /* h5/medium */
            font-family: Lexend;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 150% */
        }

        .close {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            line-height: 1;
        }
    }

    &--body {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .tiny_ai-modal--button-wrapper {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 16px;
            align-self: stretch;
            flex-wrap: wrap;
        }
    }

    &--bottom {
        margin-top: 20px;
        text-align: center;

        .usage-info {
            font-size: 12px;
            color: #6c757d;
        }
    }
}